.user-details{
    display: grid;
    width: 80%;
    grid-template-columns: 2rem 8rem 6rem 4rem;
    padding-left: 2rem;
    gap: 0.9rem;
    img{
        border-radius: 50%;
    }
    .name{
        display: block;
    }
    .progress-container { 
        border-radius: 15px; 
    } 
    .progress { 
        background-color: rgb(116, 194, 92); 
        color: white; 
        padding: 4%; 
        text-align: right; 
        font-size: 5px; 
        border-radius: 15px; 
        margin-top: 0.9rem;
    } 
}