.user-details {
  display: grid;
  width: 80%;
  grid-template-columns: 2rem 8rem 6rem 4rem;
  padding: 0.4rem 0;
  gap: 0.9rem;
  img {
    border-radius: 50%;
  }
  .name {
    display: block;
    .user-name {
    }
    .country {
      font-size: 11px;
      padding-top: 5px;
    }
  }
  .progress-container {
    display: flex;
    border-radius: 15px;
    align-items: baseline;
    font-size: 10px;
  }
  .progress {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 4%;
    text-align: right;
    font-size: 5px;
    border-radius: 15px;
    margin-top: 0.9rem;
  }
  .active-btn {
    background-color: blue;
    border-radius: 4px;
    color: white;
    border: none;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
