.table-container {
  .main-table {
    max-height: 34rem;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    thead {
      tr {
        position: sticky;
        top: 0;
        background: crimson;
      }
    }
  }
  .main-table::-webkit-scrollbar {
    display: none;
  }
}
