.main-dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  .side-nav {
  }
  .search-bar-user-info {
    width: 100%;
    background-color: #F4F7FC;
  }

  .dashboard-container {
    margin: 1rem;
  }
}
