<div class="search-tool">
  <span class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="text"
      id="search"
      placeholder="Search"
      class="search-input"
    />
  </span>
  <span class="user-details">
    <button> eng</button>
    <ul class="profile-list">
      <li class="list-items"><i class="fa-regular fa-message"></i></li>
      <li class="list-items"><i class="fa-regular fa-bell"></i> </li>
      <li class="list-items"><i class="fa-sharp fa-regular fa-face-smile"></i> Santosh Shinde</li>
    </ul>
  </span>
</div>
